#content {
    border: 1px solid #333;
    background-color: #888;
    width: 800px;
    margin: auto;
    padding: 8px;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Verdana, "Bitstream Vera Sans", sans-serif;
}

