#content {
    border: 1px solid #333;
    background-color: #888;
    width: 800px;
    margin: auto;
    padding: 8px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Verdana, "Bitstream Vera Sans", sans-serif;
}

#slots {
    border: 3px groove #555;
    padding: 20px;
    margin: 30px;
    overflow: hidden;
    background-color: #545566;
}

.slotcolumns {
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}

.slot {
    border: 2px inset #555;
    padding: 10px;
    background-color: #54314f;
    text-align: center;
}

.slotimage {
    border: 1px solid #333;
    background-color: #eee;
    width: 128px;
    height: 128px;
    margin: auto;
}

#spinbutton {
    margin: 10px auto 20px auto;
    background-color: #4CAF50;
    border: 1px solid #1f4821;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#spinbutton:hover {
    margin: 10px auto 20px auto;
    background-color: #61df66;
    border: 1px solid #2b642e;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

#response {
    border: 3px groove #555;
    padding: 20px;
    margin: 30px;
    overflow: hidden;
    background-color: #fffbdc;
}

.callout {
    font-weight:bolder;
    color: #FF9D00;
}

#resetbutton {
    margin: 10px auto 20px auto;
    background-color: #4CAF50;
    border: 1px solid #1f4821;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

#resetbutton:hover {
    margin: 10px auto 20px auto;
    background-color: #61df66;
    border: 1px solid #2b642e;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

